/* src/app/ui/container/container.module.css */

.container {
  width: 90%;    /* nebo 1024 / 1200 / co používáš */
  margin: 0 auto;
  padding: 100px 0px;
  position: relative;
  z-index: 5;
}

.fullHeight {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
