/* src/app/ui/container/container.module.css */

.container {
  width: 80%;    /* nebo 1024 / 1200 / co používáš */
  margin: 0 auto;
  padding: 50px 0 50px 0;
  position: relative;
  z-index: 5;
}

.fullHeight {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 1200px) { 
  .container {
    width: 90%;
  }
}
